asgiref==3.7.2
Django==4.2.3
django-filter==23.2
environ==1.0
gunicorn==23.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
Pillow==9.5.0
python-http-client==3.3.7
PyYAML==6.0.2
render==1.0.0
sendgrid==6.10.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
