{% extends 'base.html' %}
{% block title %}
    Galerie
{% endblock %}

{% block content %}
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
        <div class="container" data-aos="fade-up">
<br><br>
            <div class="section-header">
                <h2>Galerie</h2>
                <p>Galeria <span>Noastra</span></p>
            </div>

            <div class="gallery-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala1.jpeg"><img
                            src="static/assets/img/sali/sala1.jpeg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala2.jpeg"><img
                            src="static/assets/img/sali/sala2.jpeg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala3.jpeg"><img
                            src="static/assets/img/sali/sala3.jpeg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala4.jpeg"><img
                            src="static/assets/img/sali/sala4.jpeg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala5.jpeg"><img
                            src="static/assets/img/sali/sala5.jpeg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala8.jpeg"><img
                            src="static/assets/img/sali/sala8.jpeg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala7.jpeg"><img
                            src="static/assets/img/sali/sala7.jpeg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala8.jpeg"><img
                            src="static/assets/img/sali/sala9.jpeg" class="img-fluid" alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala9.jpeg"><img
                            src="static/assets/img/sali/sala10.jpeg" class="img-fluid" alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala10.jpeg"><img
                            src="static/assets/img/sali/sala11.jpeg" class="img-fluid" alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala11.jpeg"><img
                            src="static/assets/img/sali/sala12.jpeg" class="img-fluid" alt=""></a></div>
                                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="static/assets/img/sali/sala12.jpeg"><img
                            src="static/assets/img/sali/sala8.jpeg" class="img-fluid" alt=""></a></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Gallery Section -->


{% endblock content %}
