{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}

{% block content %}
<br><br>
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Ai nevoie de ajutor? <span>Contacteaza-ne</span></p>
        </div>

        <div class="mb-3">
{#          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>#}
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2852.2878124256586!2d26.153458!3d44.36567959999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fdb1cc50c9ab%3A0xaa17213ad48751bd!2sStr.%20Biruin%C8%9Bei%2051-57%2C%20Pope%C8%99ti-Leordeni%20077160!5e0!3m2!1sro!2sro!4v1689761485159!5m2!1sro!2sro" style="border:0; width: 100%; height: 350px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Adresa noastra</h3>
                <p>Biruintei 51-57, Ilfov, RO 077160</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email </h3>
                <p>amgfitnessro@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Contactati-ne</h3>
                <p>+4 073 940 851 </p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Program</h3>
                <div><strong>Luni-Vineri:</strong> 07:00 - 23:00;
                    <br>
                  <strong>Sambata-Duminica:</strong> 09:00 - 20:00
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="#" method="post" role="form" class="php-email-form p-3 p-md-4">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="first_name" placeholder="Nume" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subiect" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Mesaj" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Mesajul tau a fost trimis. Multumim!</div>
          </div>
          <div class="text-center"><button type="submit">Trimite Mesaj</button></div>
        </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{% endblock content %}
