{% extends 'base.html' %}
{% block title %}
    Membership
{% endblock title %}
{% block head %}


                <div class="section-header">
                <h2>Inscriere</h2>
                <p>Hai la cea mai  <span> Performanta Sala de Fitness</span></p>
            </div>
{#    {% for message in messages %}#}
{#        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">#}
{#            <strong></strong> {{ message }}#}
{#            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#        </div>#}
{#    {% endfor %}#}
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-8">
                {% for message in messages %}
                    <div
                            class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong></strong> {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                        ></button>
                    </div>
                {% endfor %}
                <form action="/join" method="post">{% csrf_token %}
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               name="FullName"
                               placeholder="Nume"
                               required/>
                    </div>

                    <div class="form-group">
                        <input type="email"
                               class="form-control mt-2"
                               value="{{ user.email }}"
                               name="email"
                               placeholder="Email"
                               readonly
                               required/>
                    </div>

                    <div class="form-group">

                        <select class="form-control mt-2" id="gender" name="gender" required>
                            <option selected>Select</option>
                            <option value="male">Barbat</option>
                            <option value="female">Femeie</option>
                        </select>
                    </div>

{#                    <div class="form-group">#}
{#                        <input#}
{#                                type="number"#}
{#                                class="form-control mt-2"#}
{#                                name="{user.username}"#}
{#                                placeholder="Enter Your Number"#}
{#                                readonly#}
{#                                required/>#}
{#                    </div>#}

                    <div class="form-group">
                        <select class="form-control mt-2" id="member" name="member" required>
                            <option selected>Pret plan de antranemt</option>
                            {% for p in Membership %}
                                <option value="{{ p.plan }} - {{ p.price }}">{{ p.plan }} - {{ p.price }} RON</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control mt-2" id="trainer" name="trainer" required>
                            <option selected>Alege Antrenor</option>
                            {% for p in SelectTrainer %}
                                <option value="{{ p.name }}">{{ p.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <input
                                type="text"
                                class="form-control mt-2"
                                name="address"
                                placeholder="Adresa"
                        />
                    </div>

                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-warning" type="submit">Inscriere</button>
                    </div>


                </form>
            </div>


            <div class="col-md-3"></div>
        </div>
    </div>



{% endblock head %}