{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>AmG Fitness</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Template Main CSS File -->
    <link href="static/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Yummy
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>


{% include 'navbar.html' %}
{% block content %}

{% endblock %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Enjoy Your Healthy<br>Sport means health</h2>
                <p data-aos="fade-up" data-aos-delay="100"> Descoperă experiența AmGFitness: totul la superlativ.
                    Detaliile fac diferența. Toate cele trei locații se ridică la cele mai înalte standarde, atât în
                    ceea ce privește aparatura de ultimă generație, cât și pregătirea personalului și a trainerilor.
                    Suntem o comunitate de fitness all-inclusive. Toată lumea, este binevenită, indiferent de
                    capacitatea de fitness, obiective sau experiență.</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="/join" class="btn-book-a-table">Inscriere</a>
                    <a href="https://www.youtube.com/watch?v=pIsJTfeyxjM"
                       class="glightbox btn-watch-video d-flex align-items-center"><i class='bx bxs-videos' ></i>
                        <span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="static/assets/img/eu.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Despre noi</h2>
                <p>Ce iti <span> Oferim </span></p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img"
                     style="background-image: url(static/assets/img/despre.png) ;" data-aos="fade-up"
                     data-aos-delay="150">
                    <div class="call-us position-absolute">
                        <h4>Contacteaza-ne</h4>
                        <p>+40 723 923 826</p>
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            Ești pregătit de schimbare? Antrenează-te într-una din cele #3 locații AmG Fitness
                        </p>
                        <ul>
                            <li><i class='bx bx-dumbbell'></i></i> West Gate</li>
                            <li><i class='bx bx-dumbbell'></i></i> Dream Town</li>
                            <li><i class='bx bx-dumbbell'></i></i> Fitness & Spa</li>
                        </ul>
                        <p>
                            Te așteptăm la cel mai sofisticat centru de fitness, antrenament funcțional și wellness din
                            partea de sud a orașului.
                            Descoperă echipamentele și tehnologiile de ultimă generație, care includ piscină, jacuzzi și
                            saună. Beneficiază de experiența antrenorilor
                            și instructorilor de înot specializați, având posibilitatea să alegi dintre o varietate de
                            cursuri și programe personalizate.
                        </p>

                        <div class="position-relative mt-4">
                            <img src="static/assets/img/modern gym.jpeg" class="img-fluid" alt="">
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="why-box">
                        <h3>De ce sa alegi AmG Fitness?</h3>
                        <p>
                            Un stil de viață sănătos te face să te simți mai bine, mai fericit. Sălile AmG Fitness oferă
                            cele mai bune condiții de antrenament pentru dezvoltarea, menținerea și tonifierea corpului
                            tău.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Learn More<i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div><!-- End Why Box -->

                <div class="col-lg-8 d-flex align-items-center">
                    <div class="row gy-4">

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class='bx bxs-badge-check'></i>
                                <h4>O comunitate care te ajuta sa te integrezi foarte usor.</h4>
                                <p>Intelegem conceptul de #GymAnxiety si facem tot posibilul sa te ajutam sa-l
                                    depasesti,
                                    atat prin intermediul antrenorilor, cat si prin aparatura profesionala pe care ti-o
                                    punem la dispozitie.
                                    Important este ca tu vii la oricare dintre centrele noastre AmG Fitness.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class='bx bxs-badge-check'></i>
                                <h4>De ce sa lucrezi cu un antrenor personal?</h4>
                                <p>Antrenorul este cel care te ajuta sa-ti definesti obiectivele, dar mai ales sa le
                                    atingi. El intelege nevoile tale si ajusteaza programul
                                    de antrenament in functie de capacitatile tale. Antrenandu-te alaturi de un antrenor
                                    personal vei atinge obiectivele propuse in cel mai scurt timp, astfel
                                    incat sa obtii un randament cat mai bun al timpului petrecut in sala de
                                    antrenament.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class='bx bxs-badge-check'></i>
                                <h4>Beneficiile miscarii asupra sanatatii mentale</h4>
                                <p>Miscarea regulata nu aduce doar beneficii fizice, ci are si un impact semnificativ
                                    asupra sanatatii mentale.
                                    Activitatea fizica regulata poate fi o modalitate eficienta de a imbunatatii starea
                                    de spirit, de a reduce simptomele de anxietate si depresie, precum si
                                    de a creste nivelul de bunastare mentala.</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
        <div class="container" data-aos="zoom-out">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="975" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Clienti</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="106" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Aparate fitness</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Sali de fitness</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Antrenori</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>
    </section><!-- End Stats Counter Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Testimoniale</h2>
                <p>Ce spune lumea <span>despre noi</span></p>
            </div>

            <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="testimonial-content">
                                        <p>
                                            <i class='bx bxs-user-voice' ></i>
                                            O sala moderna bine utilata, acces facil, personal amabil si profesionist!
                                            Piscina, jacuzzi, sauna...si multe altele! Recomand cu caldura!

                                        </p>
                                        <h3>Aurelian Umbrarescu</h3>
                                        <div class="stars">
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img src="static/assets/img/testimonials/testimonials-1.jpg"
                                         class="img-fluid testimonial-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="testimonial-content">
                                        <p>
                                            <i class='bx bxs-user-voice' ></i>
                                            Sunteți geniali💪❤️!! Recomand cu drag clasele de bodypump, interval, c-core,
                                            circuit training etc. Ma simt foarte bine, chiar pot spune ca e cea mai buna
                                            terapie🤗!!

                                        </p>
                                        <h3>Sara Simionescu</h3>
                                        <div class="stars">
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img src="static/assets/img/testimonials/testimonials-2.jpg"
                                         class="img-fluid testimonial-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="testimonial-content">
                                        <p>
                                            <i class='bx bxs-user-voice' ></i>
                                            Curățenie,liniște,atmosfera.

                                        </p>
                                        <h3>Gabriela Luculescu</h3>
                                        <div class="stars">
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img src="static/assets/img/testimonials/testimonials-3.jpg"
                                         class="img-fluid testimonial-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="testimonial-content">
                                        <p>
                                            <i class='bx bxs-user-voice' ></i>
                                            Pentru aparate de ultima generație,atmosferă placută,curațenie,personal
                                            calificat de 5⭐️.

                                        </p>
                                        <h3>Gheorghe Voicu</h3>
                                        <div class="stars">
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                            <i class='bx bxs-star bx-rotate-180 bx-tada' style='color:#f5f003'  ></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img src="static/assets/img/testimonials/testimonials-4.jpg"
                                         class="img-fluid testimonial-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Antrenori ======= -->
    <section id="chefs" class="chefs section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Antrenori</h2>
                <p>Profesionisti <span>Devotati</span> Prietenosi</p>
            </div>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="static/assets/img/georgian_coach.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Georgian Ivan</h4>
                            <span>Antrenor Fitness</span>
                            <p>Georgian, a primit in 2017 certificarea ca antrenor personal, folosind experienta
                                acumulata in cei 3 ani de practica
                                in kinetoterapie pentru crearea de programe de antrenament</p>
                        </div>
                    </div>
                </div><!-- End Chefs Member -->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="static/assets/img/Cristi.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Cristian Coroi</h4>
                            <span>Antrenor Fitness</span>
                            <p>Cristian, a inceput sa-si construiasca o cariera in fitness si nutritie inca din anul
                                2015, in cadrul scolii Anturaj Fitness
                                acolo unde a si antrenat 5 ani inainte de a deveni antrenor AmG Fitness.</p>
                        </div>
                    </div>
                </div><!-- Sfarsit Antrenori -->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="static/assets/img/Matei.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Alex Dima</h4>
                            <span>Instructor Inot</span>
                            <p>Alex Dima este fost sportiv de performanta in baschet si inot.</p>
                        </div>
                    </div>
                </div><!-- End Coach Member -->

            </div>

        </div>
    </section><!-- End Coach Section -->


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class='bx bx-home' style='color:#f50603' ></i>
                    <div>
                        <h4>Adresa</h4>
                        <p>
                            Str. Biruintei 102 <br>
                            Ilfov, Popesti-Leordeni<br>
                        </p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class='bx bxs-book' style='color:#f50603' ></i>
                    <div>
                        <h4>Reservari</h4>
                        <p>
                            <strong>Telefon:</strong> +4 073 940 851<br>
                            <strong>Email:</strong> gym@amgfitness.ro<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class='bx bxs-calendar' style='color:#f50603' ></i>
                    <div>
                        <h4>Program</h4>
                        <p>
                            <strong>Luni-Sambata: 08:00</strong> - 23:00<br>
                            Duminica: 10:00 - 20:00
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Ne puteti urmarii pe :</h4>
                    {#          <div class="social-links d-flex">#}
                    {#            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>#}
                    {#            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>#}
                    {#            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>#}
                    {#            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>#}
                    {#          </div>#}
                    <div class="social-media">
                        <a href="https://www.facebook.com/beautybylarisaverdes" style="--i:7;"><i
                                class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/beauty_bylarisaverdes" style="--i:8;"><i
                                class='bx bxl-instagram'></i></a>
                        <a href="#" style="--i:9;"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Georgian Ivan</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>

</body>

</html>