  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'homepage' %}" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets/img/logo.png" alt=""> -->
        <h1>AmG Fitness </h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'homepage' %}">Acasa</a></li>
          <li><a href="{% url 'contact-us' %}">Contact</a></li>
          <li><a href="{% url 'gallery' %}">Galerie</a></li>
          <li class="dropdown"><a href="#"><span>Membru</span> <i class='bx bx-dumbbell'></i></a>
            <ul>
              <li><a href="/join">Inscriere</a></li>
              <li><a href="/profile">Vizualizare profil</a></li>
            </ul>
          </li>

         {% if not request.user.is_authenticated %}

          <li><a class="nav-link scrollto"  href="/signup">SignIn</a></li>
            {% else %}
          <li><a class="nav-link scrollto"  href="/logout">Logout</a></li>
          {% endif %}
        </ul>
        <i class='bx bx-user-check' ></i>
      </nav><!-- .navbar -->

    {% if  request.user.is_authenticated %}
      <a class="btn-book-a-table" href="/">Bun venit !</a>
    {% endif %}


    </div>
  </header><!-- End Header -->