{% extends 'base.html'%}
{% block title %}
    Profile
{% endblock title %}
{% block head %}

<h1>Enrollment Details</h1>


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">


            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong></strong>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            {% endfor %}
{% for post in posts%}

        <ul class="list-group">
        <li class="list-group-item"><h4>Name: {{ posts.FullName }}<h4></li>
        <li class="list-group-item"><h4>Email: {{ posts.Email }}<h4></li>
        <li class="list-group-item"><h4>Gender: {{ posts.Gender }}<h4></li>
        <li class="list-group-item"><h4>Membership plan: {{ posts.SelectMembershipplan }}<h4></li>
        <li class="list-group-item"><h4>Trainer: {{ posts.SelectTrainer }}<h4></li>
        <li class="list-group-item"><h4>Address: {{ posts.Address }}<h4></li>
        <li class="list-group-item"><h4>Payment Status: {{ posts.paymentStatus }}<h4></li>
        <li class="list-group-item"><h4>Amount Paid: {{ posts.Price }}<h4></li>
        <li class="list-group-item"><h4>Upcoming Due Date: {{ posts.DueDate }}<h4></li>
        <li class="list-group-item"><h4>Joining date: {{ posts.timeStamp }}<h4></li>

        </ul>


        {% endfor %}


            <Center><h2 class="display-4">Your Details</h2></Center>

        </div>
    <div class="col-md-3"></div>
    </div>
</div>

{% endblock head %}